---
import SectionLayout from '../layouts/sectionLayout.astro'
---

<SectionLayout id='project'>
  <div class='intro-box'>
    <p>Hi , I'm Afwan</p>
    <p>I'm Building a Website</p>
  </div>
</SectionLayout>

<style>
  p {
    font-size: 36px;
    font-weight: 700;
    color: white;
  }
</style>
