---
import Layout from '../layouts/Layout.astro'
import HeroSection from './_HeroSection.astro'
import AboutSection from './_AboutSection.astro'
import ProjectSection from './_ProjectSection.astro'
import ContactSection from './_ContactSection.astro'
---

<Layout title='Portofolio'>
  <main>
    <HeroSection />
    <AboutSection />
    <ProjectSection />
    <ContactSection />
  </main>
</Layout>

<style>
  main {
    max-width: 60ch;
  }
</style>
