---
import Layout from '../layouts/Layout.astro'
import HeroSection from './_HeroSection.astro'
import AboutSection from './_AboutSection.astro'
import ProjectSection from './_ProjectSection.astro'
import ContactSection from './_ContactSection.astro'
---

<Layout title='Portofolio'>
  <main>
    <HeroSection />
    <AboutSection />
    <ProjectSection />
    <ContactSection />
  </main>
</Layout>

<style>
  main {
    max-width: 60ch;
  }
</style>
<script>
  let target = document.querySelectorAll('.container')
  let observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        let navElement = document.getElementsByClassName(
          entry.target.id.toString()
        )
        if (navElement[0] === undefined) return
        navElement[0].children[0].classList.toggle(
          'visited',
          entry.isIntersecting
        )
      })
    },
    { rootMargin: '400px', threshold: 1 }
  )
  target.forEach((item) => {
    observer.observe(item)
  })
</script>
