---
import NavLink from './NavLink.astro'
---

<style>
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    to {
      background-position: -200% center;
    }
  }
  @keyframes scale-star {
    from,
    to {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }
  @keyframes rotate-star {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  .container {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 3;
  }
  .edge-navbar {
    width: 200px;
    backdrop-filter: blur(10px);
  }
  .navbar-container {
    container-type: inline-size;
    container-name: navbar-container;
    color: white;
    padding: 20px 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
  }
  .navbar-list {
    list-style: none;
    display: flex;
    column-gap: 2em;
  }
  a {
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

  a:hover {
    animation: background-pan 1.5s linear infinite;
    background-size: 200%;
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a > span {
    display: none;
  }

  a:hover > span {
    --size: clamp(8px, 1.5vw, 15px);

    display: block;
    height: var(--size);
    position: absolute;
    width: var(--size);
    animation: scale-star 700ms ease infinite;
  }

  a:hover > span > svg {
    display: block;
    opacity: 0.7;
    animation: rotate-star 1000ms linear infinite;
  }

  a:hover > span > svg > path {
    fill: rgb(var(--accent));
  }

  .star1 {
    left: 0%;
    top: 0%;
  }

  .star2 {
    left: 50%;
    top: 80%;
  }

  .star3 {
    left: 90%;
    top: 0%;
  }

  @media (width < 1000px) {
    .edge-navbar {
      width: 100px;
    }
  }
  @media (width < 600px) {
    .edge-navbar {
      width: 50px;
    }
  }
</style>

<div class='container'>
  <div class='edge-navbar'></div>
  <div class='navbar-container'>
    <h1>F1</h1>
    <ul class='navbar-list'>
      <li>
        <NavLink title='About' />
      </li>
      <li>
        <NavLink title='Project' />
      </li>
      <li>
        <NavLink title='Contact' />
      </li>
    </ul>
  </div>
  <div class='edge-navbar'></div>
</div>
